.home{
    position: relative;
    display: flex;
    justify-content: center;
}

.homeSearch {
    height: 50px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: 25px;
    width: 100%;
    max-width: 1024px;
  }

  .homeSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .homeSearchInput {
    border: none;
    outline: none;
  }
  
  .homeSearchText {
    color: lightgray;
    cursor: pointer;
  }

  .homeBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .homeBtn[disabled]{
    opacity: 0.3;
  }

  .date {
    position: absolute;
    top: 50px;
    z-index: 2;
  }

  .options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  }
  
  .optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
  }
  
  .optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
  }
  
  .optionCounterButton:disabled {
    cursor: not-allowed;
  }

  .homeIcon {
    color: lightgray;
  }
