.box_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 2px 2px 2px black;
  padding: 24px;
  max-height: 100%;
  overflow: auto;
}
